/* Секція Quote */
.quote__container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 0 10px;
}
.quote__container::after {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background-image: url(/src/images/main/quote/quote_logo.png);
  background-position: 48% 50%;
  background-repeat: no-repeat;
}
.quote__title {
  color: #0a3853;
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
}
.quote__author {
  color: #000;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
/* Секція Trailer */
.trailer {
  padding: 330px 590px;
  background-color: rgba(43, 74, 97, 0.527);
  background-image: url(/src/images/main/trailer/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trailer .button {
  padding: 25px 20px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000a1;
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #acacac;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 400px;
  min-height: 300px;
}
.button-close {
  align-self: flex-end;
  background-color: #0a3853;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
