@import "/src/css/main.css";

body {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.button {
  font-family: "Headland One", serif;
  display: inline-block;
  padding: 10px 40px;
  color: #26c6ea;
  background-color: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 50px 0 50px 0;
  transition: border-radius 0.5s ease;
}
.button:hover {
  border-radius: 0 50px 0 50px;
}
